.card-wrapper {
    border: lightskyblue solid 2px;
    border-radius: 5px;
    margin: 25px;
    padding: 20px;
    &__img {
        width: 150px;
        height: 200px;
    }
    &__btn-addtocart {
        height: 20px;
    }
}
.star {
    visibility:hidden;
    font-size:25px;
    cursor:pointer;
    height: 25px;
    outline: none;
    &:before {
        content: "\2605";
        position: absolute;
        visibility:visible;
        color: gray;
    }
    &:checked:before {
        content: "\2606";
        position: absolute;
        color: gold;
    }
}